
.right{
  position: absolute;
  right: 450px;
  background: #440744;
  color: #e6e6e6;
}
.left{
  background: #440744;
  color: #e6e6e6;
}
.mat-dialog-title {
  margin: 0 0 20px;
  display: block;
  color: #440744;
}
.mat-dialog-content{
  color: #440744;
}
