.save-button{
  background-color:#440744;
  color: #e6e6e6;
}
.save-button:hover{
  background-color:#cc0891;
  color: #e6e6e6;
}
.mat-divider{
  border-top-color:#440744;
}
  * {
    font-family: "Lato", sans-serif;
    color: #440744;
    cursor: pointer;
}
