.sidenav-bigger-screen {
  width: 20%;
}

.sidenav-smaller-screen {
  width: 80%;
  height: 90%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.search-box-in-header {
  margin-left: 6%;
  border-radius: 10px;
  height: 35px;
  width: 50%;
  background-color: rgba(213, 207, 233, 0.993);
  color: #440744;
}

.three-icons-in-header-bigger-screen {
  margin-left: 30%;
}

.three-icons-in-header-smaller-screen {
  margin-left: 5%;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.log-out-icon {
  margin-left: 5%;
}

.sidenav-content {
  &:hover {
    background-color: #02aaf8;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
}

.search-bar-minimized {
  height: 5px;
  border-radius: 10px;
}

.complete-search-bar-minimized {
  margin-top: 2.5%;
  width: 280px;
}

.complete-search-bar-maximized {
  margin-top: 2.5%;
  width: 50%;
}

.occupy-full {
  width: 100%;
}

.demo{
  position: absolute;
  margin-top: 10px;
}

.color-palette {
  input {
    display: none;
  }
  &:hover {
    input {
      color: white;
      display: inline-block;
      border: none;
      border-radius: 100%;
      width: 25px;
      height: 25px;
      background-color: white;
      box-shadow: none;
      padding: 0;
    }
    mat-icon {
      display: none;
    }
  }
}

.mat-toolbar {
  background: #440744;
  color: rgba(200, 187, 247, 0.993);
}
.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
  color: white;
  background-color: #cc0891;
}

.mat-drawer-container {
  background-color:rgba(213, 207, 233, 0.993);
  color:#440744;
}
.mat-drawer {
  background-color:rgba(200, 187, 247, 0.993);
  color: #440744;
}
.mat-card {
  background: #ffffff;
  color: #440744;
}
.sideNavText{
  color: #440744;
}
.sidenav-content{
  color: #440744;
}
