@import "src/app/scss/styles.scss";

.email-bar{
  width: 100%;
}

.forgot-email-button{
  @include color-picker(#d15400);
  margin-left:0.25em;
  cursor: pointer;
  // pointer-events: all;
}

.complete-box{
  margin-top: 5%;
}

.not-your-computer{
  margin-top: 15%;
}

.learn-more{
  @include color-picker(cornflowerblue);
  cursor: pointer;
}

.create-account-next-div{
  margin-top:15%;
}

.learn-more{
  @include color-picker(#d15400);
  cursor: pointer;
}

.create-account-next-div{
  margin-top:15%;
}
.mat-card {
  background: #e6e6e6;
  color: #662900;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 7px 7px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
