@import "src/app/scss/styles.scss";
.mat-card[_ngcontent-c1] {
  background: #e6e6e6;
  color: #662900;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 7px 7px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.mat-card-subtitle {
  color: #662900;
}
